@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fascinate+Inline&family=Kanit:wght@100;200;400;500&family=Rubik+Beastly&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide dark:bg-[#22272e] dark:text-gray-300
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }

}

.spinner {
  animation: spin infinite 1s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-dots {
  animation: dots 0.5s linear infinite alternate;
}

@keyframes dots {
  0% {
    background-size: 50px 40px;
    background-position: 0 0, 30px 30px;
    background-image: radial-gradient(blue 1%, transparent 2%),
    radial-gradient(blue 1%, transparent 2%);
  }
  100% {
    background-size: 50px 40px;
    background-position: 0 0, 30px 30px;
    background-image: radial-gradient(blue 2%, transparent 2%),
    radial-gradient(blue 2%, transparent 2%);
  }
}


.link {
  color: var(--clr-primary);
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: var(--clr-primary);
}

.link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-primary);
  transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link--nav {
  color: var(--clr-fg);
  font-weight: 500;
}

.link--icon {
  color: var(--clr-fg);
}


.skeleton {
  animation: skeleton-loading 0.5s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  }
  100% {
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
  }
}
